.DigitalMrktSer {
  background-color: #35C1D5;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;


}

.webDevelopmentSer{
  background-color: #ECFDFF;
}
.webDevSer{
  background-color: #35C1D5;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px
}

.servicsText{
  color: #1F6D89;
}

.GraphicDesignSer{
  background-color: #1F6D89;
}