
.sucstories h3 {
    word-break: break-all;
    margin-top: 20px;
    color: #025978;
}

 
.sucstoriespara{
    font-weight: 600;
    font-size: 15px;
    
}
@media (min-width: 768px) {
    .sucstories {
        text-align: start;
        margin-left: 0;
        display: inline-block; 
    }
}
